.portada h1{
	color: #48C63D;
	font-size: 120px;
	text-shadow: 4px 4px 4px rgba(0,0,0,5);
	font-family: 'Gloria Hallelujah', cursive;
	position: relative;
	text-align: center;
	}
.portada img{
	height: 350px
	
}